<form class="filters-component" [formGroup]="filterForm">
    <div>
        <mat-label>Sort By</mat-label>
        <mat-form-field >
            <mat-select formControlName="sorting">
                <mat-option *ngFor="let option of sortingValues" [value]=option>{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="slider-container">
        <mat-label>Price</mat-label>
        <div>{{filterForm.controls["priceRangeStart"].value}} - {{filterForm.controls["priceRangeEnd"].value}}</div>

        <mat-slider min="0" max="5000">
            <input formControlName="priceRangeStart"  matSliderStartThumb>
            <input formControlName="priceRangeEnd" matSliderEndThumb>
        </mat-slider>
    </div>
    <div class="stop-container">
        <mat-label>Stops</mat-label>
        <mat-checkbox 
            *ngFor="let option of checkboxOptions"
            [checked]="isStopSelected(option.value)"
            (change)="$event.checked && onStopSelect(option.value)"
        >{{option.label}}
        </mat-checkbox>
    </div>
</form>
