.flight-component{
    height: 100%;
    margin: 30px auto;
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    app-filters{
        width: 240px;
    }
    app-flight-list{
        width: 624px;
    }
}