.travelers-container{
    display: flex;
    max-width: 880px;
    margin: 20px auto;
    justify-content: space-between;
    .travelers-info{
        width: 65%;
        .form-container{
            border: 1px solid #E2E0E3;
            border-radius: 12px;
            padding: 16px;
        }
    }
    .price-info{
        width: 30%;
        .price-summary{
            border: 1px solid #E2E0E3;
            border-radius: 12px;
            padding: 16px;
        }
    }
    
}

.form-field{
    display: flex;
    flex-direction: column;
}

.date-form-data{
    display: flex;
    justify-content: space-around;
    .form-field{
        width: 30%;
    }
}

.actions{
    display: flex;
    justify-content: space-between;
    .book{
        border-radius: 8px;
        color: #FFFFFF;
        background-color: #0A1D3D;
        height: 44px;
    }
    .book:disabled{
        color: #FFFFFF;
        background-color: gray;
    }
    .back{
        border: 1px solid #E2E0E3;
        color: #0A1D3D;
        border-radius: 8px;
        height: 44px;
    }
}

.cost{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    font-size: 14px;
    border-bottom: 1px solid #E2E0E3;
    .cost-flight{
        display: flex;
        align-items: center;
    }
}
.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 14px;

    .huge-price{
        font-size: 32px;
        font-weight: 400;
    }
}
.rotated-icon{
    transform: rotate(45deg);
}

mat-label{
    color: #898390;
}